*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}
#icon{
    margin: 10px 30px;
}
#icon img{
    height: 40px;
    margin: 5px 8px;
}
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: yellow;
}
#page::before{
    content: "";
    background: url('bg1.jpg') no-repeat center center/cover ;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}  
#page{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 580px;
    justify-content: center;
    align-items: center;
}
#page h1{
    text-align: center;
    font-family: 'Lobster', cursive;

}
#page p{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}
.first{
    font-size: 2.6rem;
    padding: 14px;
}
#services{
    margin: 24px;
    display: flex;
    
}

#services .box{
    border: 2px solid brown;
    /* display: flex; */
    padding: 40px;
    margin: 4px 8px;
    border-radius: 30px;
    background-color: rgb(190, 167, 175);

}
#services .box img{
    height: 170px;
    width: 24vw;
    border-radius: 25px;
    border: 2px solid black;
    margin: auto;
    display: block;
}
.box img:hover{
    transform: scale(1.1);
    z-index: 1;
}

.h-primary{
    font-family: 'Vidaloka', serif;
    background-color: rgb(164, 164, 185);
    padding: 24px;
    margin: 4px;
    font-size: 2.8rem;
    padding: 0px;
}

.h-secondary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}
.new{
    font-family: 'Lobster', cursive;
}

.one{
    padding: 6px 20px;
    border: 2px solid black;
    background-color:rgb(170, 152, 117);
    color: black;
    border-radius: 25px;
    margin: 20px;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    cursor: pointer;

}
.one:hover{
    color: black;
    background-color: rgb(214, 214, 127);
}
.center{
    text-align: center;
}
.price{
    display: flex;
    justify-content: space-between;
}
.Amount li{
    list-style: none;
}
.offer{
    display: flex;
    justify-content: center;
}
.offer .new{
    padding: 14px;
    margin: 24px;
    font-size: 18px;
}
.offer .Content{
    font-family: 'Vidaloka', serif;
    list-style: none;
    font-size: 18px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
